@import "tailwindcss";


@theme {
  --color-primary:#F18909;
  --font-poppins: 'Poppins';
  --font-montserrat: 'Montserrat';
}

*{
  box-sizing: border-box;
}
header{
  background-image: url(../../public/bg.svg);
  background-position:right ;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (width < 80rem  ){
    header{
      background-image: none;
    }
}
h1{
  font-size: max(6vw ,3rem);
}
h1 span{
  background: linear-gradient(to top, #fff4e6 50%, transparent 50%);
  padding: 0 1rem;
  font-family: system-ui, -apple-system, ;
}
section p{
  font-size: max(1.5rem , 1.5vw);
  line-height: 1.5;
  color: #323232;
}

section a{
  font-size: max(1.1rem , 1.2vw);
  color: white;
  padding: max(1rem , 0.5vw) max(3rem , 1vw);
  transition: 0.3s;
}
section a:hover{
  background-color: #d77b0b;

}

ul a{
  
    font-size: max(18px, 1vw );
  
}

.floating-letters {
  position: relative;

}

.floating-letters .letter {
  position: absolute;

  font-weight: bold;
  transition: 0.3s ease;
}

/* Colores */
.floating-letters .a,
.floating-letters .n,
.floating-letters .g {
  color: black;
  font-size: 5rem;

}
.floating-letters .o,
.floating-letters .r,
.floating-letters .e {
  color: var(--color-primary);
  font-size: 5rem;
}

@media (max-width:768px ){
  .floating-letters .o,
  .floating-letters .r,
  .floating-letters .e,
  .floating-letters .a,
.floating-letters .n,
.floating-letters .g {
  font-size: 4rem;
}
}

/* Posiciones en desktop */
.floating-letters .o {
  top: -0.5rem;
  left: 40%;
  transform: translateX(-50%);
}
.floating-letters .r {
  top: -1rem;
  left: 60%;
}
.floating-letters .a {
  top: 25%;
  right: 0.5rem;
}
.floating-letters .n {
  bottom: 35%;
  right: 2rem;
}
.floating-letters .e {
  bottom: 1rem;
  left: 2.5rem;
}
.floating-letters .g {
  bottom: 2rem;
  left: 50%;
  transform: translateX(50%);
}


@media (max-width:768px ){
   
    ul{
      display: none;
    }
}
